<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="/" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="public/assets/images/logo.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="public/assets/images/logo-dark.png" alt="" height="17">
                    </span>
                </a>

                <a href="/" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="public/assets/images/logo-light.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="public/assets/images/logo-light.png" alt="" height="36">
                    </span>
                </a>
            </div>

            <div class="d-none d-sm-block ms-2">
                <h4 class="page-title"><%- title %></h4>
            </div>
        </div>
        <div class="d-flex">
            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle header-profile-user" src="public/assets/images/users/avatar-1.jpg" alt="Header Avatar">
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    <!-- item-->
                    <a class="dropdown-item" href="#"><%=translation.Profile%></a>
                    <a class="dropdown-item" href="#"><%=translation.My_Wallet%></a>
                    <a class="dropdown-item d-block" href="#"><span class="badge bg-success float-end">11</span><%=translation.Settings%></a>
                    <a class="dropdown-item" href="#"><%=translation.Lock_screen%></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="/logout"><%=translation.Logout%></a>
                </div>
            </div>

        </div>
    </div>
</header>