<%- contentFor('HeaderCss') %>
    <link href="public/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css">
    <link href="public/assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="public/assets/libs/spectrum-colorpicker2/spectrum.min.css" rel="stylesheet" type="text/css">
    <link href="public/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">
    <%- contentFor('breadcrumb') %>

        <%- contentFor('body') %>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form id="myForm">
                                <div class=" row mb-3">
                                    <label class="col-sm-2 col-form-label">Product Types</label>
                                    <div class="col-sm-3">
                                        <select class="form-select" name="productType" aria-label="Default select example">
                                            <option selected value="">Select type</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <label class="col-sm-2 col-form-label">Category Name</label>
                                    <div class="col-sm-3">
                                        <select class="form-select" name="category" aria-label="Default select example">
                                            <option selected value="">Select Category</option>
                                            <option value="4">Four</option>
                                            <option value="5">Five</option>
                                            <option value="6">Six</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="ProductName" class="col-sm-2 col-form-label">Product Name</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="productName" type="text" id="productName">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="example-search-input" class="col-sm-2 col-form-label">Meta
                                        Keyword</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" name="metaKey" id="metaKeyword">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="metaDescription" class="col-sm-2 col-form-label">Meta description
                                    </label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" name="metaDesc" id="metaDescription">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-form-label col-sm-2">Releted Products</label>
                                    <div class="col-sm-10">
                                        <select class="select2 form-control select2-multiple" multiple="multiple" name="relatedProduct" multiple data-placeholder="Choose ...">
                                            <option value="AK">Alaska</option>
                                            <option value="HI">Hawaii</option>
                                            <option value="CA">California</option>
                                            <option value="NV">Nevada</option>
                                            <option value="OR">Oregon</option>
                                            <option value="WA">Washington</option>
                                            <option value="AZ">Arizona</option>
                                            <option value="CO">Colorado</option>
                                            <option value="ID">Idaho</option>
                                            <option value="MT">Montana</option>
                                            <option value="NE">Nebraska</option>
                                            <option value="NM">New Mexico</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <label class="col-sm-2 col-form-label">Product Description</label>
                                        <div class="col-sm-12">
                                            <textarea id="elm1" name="desc"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <label class="col-sm-2 col-form-label">Short Description</label>
                                        <div class="col-sm-12">
                                            <textarea name="short" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="bannerImage" class="col-sm-2 col-form-label">Banner Image</label>
                                    <div class="col-sm-10">
                                        <input type="file" name="banner" class="form-control" id="bannerImage">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="productImage" class="col-sm-2 col-form-label">Product Image</label>
                                    <div class="col-sm-10">
                                        <input type="file" name="productImage" class="form-control" id="productImage" multiple>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="productImage" class="col-sm-2 col-form-label">Key Features</label>
                                    <div class="col-sm-10">
                                        <button id="addRow" type="button" class="btn btn-success mb-3">Add Key Features</button>
                                        <div id="newRow"></div>
                                    </div>
                                </div>
                                <div class="mb-0">
                                    <div>
                                        <button type="submit" id="save" class="btn btn-primary waves-effect waves-light me-1">
                                            Submit
                                        </button>
                                        <button type="reset" class="btn btn-secondary waves-effect">
                                            Cancel
                                        </button>
                                    </div>
                            </form>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->

                <%- contentFor('FooterJs') %>
                    <script src="public/assets/libs/select2/js/select2.min.js"></script>
                    <script src="public/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
                    <script src="public/assets/libs/spectrum-colorpicker2/spectrum.min.js"></script>
                    <script src="public/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
                    <script src="public/assets/libs/admin-resources/bootstrap-filestyle/bootstrap-filestyle.min.js"></script>
                    <script src="public/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>

                    <script src="public/assets/js/pages/form-advanced.init.js"></script>
                    <!--tinymce js-->
                    <script src="public/assets/libs/tinymce/tinymce.min.js"></script>

                    <!-- init js -->
                    <script src="public/assets/js/pages/form-editor.init.js"></script>

                    <%- contentFor('BottomJs') %>
                        <script type="text/javascript">
                            // add row
                            $("#addRow").click(function() {
                                var html = '';
                                html += '<div id="inputFormRow">';
                                html += '<div class="input-group mb-3">';
                                html += '<input type="text" name="keyFeture" class="form-control m-input" placeholder="Enter title" autocomplete="off">';
                                html += '<div class="input-group-append">';
                                html += '<button id="removeRow" type="button" class="btn btn-danger">Remove</button>';
                                html += '</div>';
                                html += '</div>';
                                $('#newRow').append(html);
                            });

                            // remove row
                            $(document).on('click', '#removeRow', function() {
                                $(this).closest('#inputFormRow').remove();
                            });
                        </script>

                        <!-- AJAX api call  -->

                        <script>
                            $(document).ready(function() {
                                $("#save").click(function(e) {
                                    e.preventDefault();
                                    // var form = $('#myForm');
                                    var obj = $("#elm1").val();
                                    // var obj = form.serialize();
                                    // obj.data = '';
                                    // obj.name = '';
                                    $.ajax({
                                        url: "http://localhost:3000/api/product/add",
                                        method: "post",
                                        data: {
                                            decs: obj
                                        },
                                        success: function(data) {}
                                    })
                                })
                            })
                        </script>